In [ ]:
                                  T&T LAB-2
                  Name              :      Sudhanshu Ranjan 
                  Roll No           :      21052369
                  Section           :      CSE-36 Group- 2
                  Branch            :      CSE
                  Date              :      24-01-2024

In [2]:
# q1
rows = 5
for i in range(0, rows):
    # nested loop for each column
    for j in range(0, rows):
        print("*", end=' ')
    print("\r")

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [5]:
# q2
rows = 5
for i in range(0, rows):
    # nested loop for each column
    for j in range(0, rows):
        print(i+1, end=' ')
    print("\r")

1 1 1 1 1
2 2 2 2 2
3 3 3 3 3
4 4 4 4 4
5 5 5 5 5

In [6]:
# q3
rows = 5
for i in range(0, rows):
    # nested loop for each column
    for j in range(0, rows):
        print(j+1, end=' ')
    print("\r")

1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

In [13]:
# q4
rows = 5
for i in range(0, rows):
    # nested loop for each column
    for j in range(0, rows):
        print(rows-i, end=' ')
    print("\r")

5 5 5 5 5
4 4 4 4 4
3 3 3 3 3
2 2 2 2 2
1 1 1 1 1

In [20]:
# q5
ascii_number = 65
rows = 5
for i in range(0, rows):
    for j in range(0, rows):
        character = chr(ascii_number)
        print(character, end=' ')
    ascii_number += 1
    
        
    print(" ")

A A A A A
B B B B B
C C C C C
D D D D D
E E E E E

In [21]:
# q6
ascii_number = 69
rows = 5
for i in range(0, rows):
    for j in range(0, rows):
        character = chr(ascii_number)
        print(character, end=' ')
    ascii_number -= 1
    
        
    print(" ")

E E E E E
D D D D D
C C C C C
B B B B B
A A A A A

In [25]:
# q7
rows = 5
for i in range(0, rows):
    # nested loop for each column
    for j in range(0, i+1):
        print("*", end=' ')
    print("\r")

*
* *
* * *
* * * *
* * * * *

In [27]:
# q8
rows = 5
num=1
for i in range(0, rows):
    # nested loop for each column
    for j in range(0, i+1):
        print(num+i, end=' ')
    print("\r")

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [33]:
# q9
rows = 5
for i in range(0, rows):
    # nested loop for each column
    for j in range(0, i+1):
        num=1
        print(num+j, end=' ')
    print("\r")

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [37]:
# q10
ascii_number = 65
rows = 5
for i in range(0, rows):
    for j in range(i+1):
        character = chr(ascii_number)
        print(character, end=' ')
    ascii_number += 1
    
        
    print(" ")

A
B B
C C C
D D D D
E E E E E

In [39]:
# q11

rows = 5
for i in range(0, rows):
    for j in range(i+1):
        ascii_number = 65
        character = chr(ascii_number+j)
        print(character, end=' ')
    ascii_number += 1
    
        
    print(" ")

A
A B
A B C
A B C D
A B C D E

In [47]:
# q11

rows = 5
word=['P','R','A','B','H','U']
for i in range(0, len(word)):
    for j in range(i+1):
        print(word[j], end=' ')   
        
    print(" ")

P
P R
P R A
P R A B
P R A B H
P R A B H U

In [48]:
# q12
rows = 5
for i in range(0, rows):
    # nested loop for each column
    for j in range(0, rows-i):
        print("*", end=' ')
    print("\r")

* * * * *
* * * *
* * *
* *
*

In [54]:
# q13
rows = 5
for i in range(0, rows):
    # nested loop for each column
    for j in range(0, rows-i):
        print(i+1 , end=' ')
    print("\r")

1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

In [55]:
# q14
rows = 5
for i in range(0, rows):
    # nested loop for each column
    for j in range(0, rows-i):
        print(j+1 , end=' ')
    print("\r")

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [61]:
# q15

rows = 5
for i in range(0, rows):
    for j in range(rows-i):
        ascii_number = 65
        character = chr(ascii_number+i)
        print(character, end=' ')
    ascii_number += 1
    
        
    print(" ")

A A A A A
B B B B
C C C
D D
E

In [62]:
# q16

rows = 5
for i in range(0, rows):
    for j in range(rows-i):
        ascii_number = 65
        character = chr(ascii_number+j)
        print(character, end=' ')
    ascii_number += 1
    
        
    print(" ")

A B C D E
A B C D
A B C
A B
A

In [63]:
# q17

rows = 5
for i in range(0, rows):
    for j in range(rows-i):
        ascii_number = 69
        character = chr(ascii_number-i)
        print(character, end=' ')
    ascii_number += 1
    
        
    print(" ")

E E E E E
D D D D
C C C
B B
A

In [64]:
# q18

rows = 5
for i in range(0, rows):
    for j in range(rows-i):
        ascii_number = 69
        character = chr(ascii_number-j)
        print(character, end=' ')
    ascii_number += 1
    
        
    print(" ")

E D C B A
E D C B
E D C
E D
E

In [65]:
# q19

word=['P','R','A','B','H','U']
for i in range(0, len(word)):
    for j in range(len(word)-i):
        print(word[j], end=' ')   
        
    print(" ")

P R A B H U
P R A B H
P R A B
P R A
P R
P

In [76]:
# q20
rows = 5
k = 2 * rows - 2
for i in range(0, rows):
    # process each column
    for j in range(0, k):
        # print space in pyramid
        print(end=" ")
    k = k - 2
    for j in range(0, i + 1):
        # display star
        print("* ", end="")
    print("")

        *
      * *
    * * *
  * * * *
* * * * *

In [74]:
# q21
rows = 5
k = 2 * rows - 2
for i in range(0, rows):
    # process each column
    for j in range(0, k):
        # print space in pyramid
        print(end=" ")
    k = k - 1
    for j in range(0, i + 1):
        # display star
        print(i+1, end="")
    print("")

        1
       22
      333
     4444
    55555

In [77]:
# q22
rows = 5
k = 2 * rows - 2
for i in range(0, rows):
    # process each column
    for j in range(0, k):
        # print space in pyramid
        print(end=" ")
    k = k - 1
    for j in range(0, i + 1):
        # display star
        print(j+1, end="")
    print("")

        1
       12
      123
     1234
    12345

In [79]:
# q23
rows = 5
k = 2 * rows - 2
for i in range(0, rows):
    # process each column
    for j in range(0, k):
        # print space in pyramid
        print(end=" ")
    k = k - 2
    for j in range(0, i + 1):
        # display star
        ascii_number = 65
        character = chr(ascii_number+j)
        print(character, end=' ')
    print("")

        A
      A B
    A B C
  A B C D
A B C D E

In [142]:
# q24
rows = 5
k = 2 * rows - 2
for i in range(0, rows):
    # process each column
    for j in range(0, k):
        # print space in pyramid
        print(end=" ")
    k = k - 2
    for j in range(0, i + 1):
        # display star
        ascii_number = 65
        character = chr(ascii_number+i)
        print(character, end=' ')
    print("")

        A
      B B
    C C C
  D D D D
E E E E E

In [143]:
# q25
word=['P','R','A','B','H','U']
k = len(word) - 1

for i in range(0, len(word)):
    # process each column
    for j in range(0, k):
        # print space in pyramid
        print(end=" ")
    k = k - 1
    for j in range(0, i + 1):
        # display star
        
        print(word[j], end='')
    print("")

     P
    PR
   PRA
  PRAB
 PRABH
PRABHU

In [113]:
# q26
rows = 5
i = rows
while i >= 1:
    j = rows
    while j > i:
        # display space
        print('', end=' ')
        j -= 1
    k = 1
    while k <= i:
        print('*', end='')
        k += 1
    print()
    i -= 1

*****
 ****
  ***
   **
    *

In [112]:
# q27
rows = 5
i = rows
while i >= 1:
    j = rows
    while j > i:
        # display space
        print('', end=' ')
        j -= 1
    k = 1
    while k <= i:
        print(i, end='')
        k += 1
    print()
    i -= 1

55555
 4444
  333
   22
    1

In [110]:
# q28
rows = 5
i = rows
while i >= 1:
    j = rows
    while j > i:
        # display space
        print(' ', end='')
        j -= 1
    k = 1
    for j in range(0, i ):
        # display star
        print(j+1, end="")
    print()
    i -= 1

12345
 1234
  123
   12
    1

In [148]:
# q29
rows = 5
i = rows
while i >= 1:
    j = rows
    while j > i:
        # display space
        print(' ', end='')
        j -= 1
    k = 1
    for j in range(0, i ):
        # display star
        ascii_number = 65
        character = chr(ascii_number+(i-1))
        print(character, end='')
    print()
    i -= 1

EEEEE
 DDDD
  CCC
   BB
    A

In [139]:
# q30
rows = 5
i = rows
while i >= 1:
    j = rows
    while j > i:
        # display space
        print(' ', end='')
        j -= 1
    k = 1
    for j in range(0, i ):
        # display star
        ascii_number = 65
        character = chr(ascii_number+j)
        print(character, end='')
    print()
    i -= 1

ABCDE
 ABCD
  ABC
   AB
    A

In [154]:
# q31
rows = 5
k = rows - 1
for i in range(0, rows):
    # process each column
    for j in range(0, k):
        # print space in pyramid
        print(end=" ")
    k = k - 1
    for j in range(0, i + 1):
        # display star
        print("* ", end="")
    print("")

    *
   * *
  * * *
 * * * *
* * * * *

In [186]:
#q32
rows = 5

for i in range(1, rows + 1):
    # Print spaces
    print(" " * (rows - i), end="")

    # Print digits
    print("".join(str(i) * (2 * i - 1)))

    1
   222
  33333
 4444444
555555555

In [172]:
#q32
rows = 5
for i in range(0, rows):
    for j in range(0, i + 1):
        print("*", end=' ')
    print("\r")

for i in range(rows, 0, -1):
    for j in range(0, i - 1):
        print("*", end=' ')
    print("\r")

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [175]:
#q33
rows = 14
print("*" * rows, end="\n")
i = (rows // 2) - 1
j = 2
while i != 0:
    while j <= (rows - 2):
        print("*" * i, end="")
        print(" " * j, end="")
        print("*" * i, end="\n")
        i = i - 1
        j = j + 2

**************
******  ******
*****    *****
****      ****
***        ***
**          **
*            *

In [ ]:
#q34
rowa =14
i = 0
j = rows - 2
while i <= (rows // 2) - 1:
    while j >= 2:
        print("*" * i, end="")
        print(" " * j, end="")
        print("*" * i, end="\n")
        i = i + 1
        j = j - 2
print("*" * rows, end="\n")

In [ ]:
i = 0
j = rows - 2
while i <= (rows // 2) - 1:
    while j >= 2:
        print("*" * i, end="")
        print(" " * j, end="")
        print("*" * i, end="\n")
        i = i + 1
        j = j - 2

In [185]:
#q36
rows = 5
for i in range(1, rows + 1):
    spaces = rows - i
    stars = 2 * i - 1
    print(" " * spaces + "*" * stars)

    *
   ***
  *****
 *******
*********

In [188]:
#q37
rows = 5
num = 1

for i in range(1, rows + 1):
    # Print leading spaces
    print(" " * (rows - i), end="")
    
    # Print the numbers
    print(str(num) * (2 * i - 1), end="")
    
    # Move to the next line
    print()
    
    # Increase the number for the next row
    num += 2

    1
   333
  55555
 7777777
999999999

In [189]:
#q38
rows = 5
num = 1

for i in range(1, rows + 1):
    # Print spaces
    for j in range(rows, i, -1):
        print(" ", end="")
    
    # Print numbers
    for k in range(1, num + 1):
        print(k, end="")
    
    print()
    
    # Update the number for the next row
    num += 2

    1
   123
  12345
 1234567
123456789

In [190]:
#q39
rows = 5
current_number = 1

for i in range(1, rows + 1):
    for j in range(rows, i, -1):
        print(" ", end="")
    
    for k in range(1, current_number + 1):
        print(k, end="")
    
    print()
    current_number += 2

    1
   123
  12345
 1234567
123456789

In [191]:
#q40
rows = 5
current_char = 65  # ASCII value for 'A'

for i in range(1, rows + 1):
    # Print spaces
    for j in range(rows, i, -1):
        print(" ", end="")
    
    # Print characters
    for k in range(1, 2 * i):
        print(chr(current_char), end="")
    
    # Move to the next character
    current_char += 1

    # Move to the next line after completing each row
    print()

    A
   BBB
  CCCCC
 DDDDDDD
EEEEEEEEE

In [192]:
#q41
rows = 5
current_char = ord('A')

for i in range(1, rows + 1):
    spaces = ' ' * (rows - i)
    chars = chr(current_char) * (2 * i - 1)
    print(spaces + chars)
    current_char += 2

    A
   CCC
  EEEEE
 GGGGGGG
IIIIIIIII

In [194]:
#q42
rows = 5
for i in range(1, rows + 1):
    # Print leading spaces
    for j in range(rows - i):
        print(" ", end="")
    
    # Print characters
    for k in range(1, 2 * i):
        print(chr(ord('A') + k - 1), end="")
    
    # Move to the next line
    print()

    A
   ABC
  ABCDE
 ABCDEFG
ABCDEFGHI

In [203]:
#q43
rows = 5
for i in range(1, rows + 1):
    # Print spaces
    for j in range(rows, i, -1):
        print(" ", end="")
    
    # Print characters in reverse order
    for k in range(i, 0, -1):
        print(chr(64 + k), end=" ")
    
    print()

    A
   B A
  C B A
 D C B A
E D C B A

In [204]:
#q44
word = "PRABHU"
length = len(word)

# Print the pattern
for i in range(1, length + 1):
    print(word[:i])

for i in range(length - 1, 0, -1):
    print(word[:i])

P
PR
PRA
PRAB
PRABH
PRABHU
PRABH
PRAB
PRA
PR
P

In [207]:
#q45
rows = 5

# Print the pattern
for i in range(rows, 0, -1):
    print("*" * i + " " * (2 * (rows - i)) + "*" * i)

# Print the pattern in reverse
for i in range(2, rows + 1):
    print("*" * i + " " * (2 * (rows - i)) + "*" * i)

**********
****  ****
***    ***
**      **
*        *
**      **
***    ***
****  ****
**********